
@media screen and (width: 375px) {
    .avaliations__title{
        padding-block-start: 4rem;
        padding-block-end: 1rem;
    }        
}

.avaliation__subtitle{
    color: var(--dark-gayish-magenta);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 1.5;
}